FRONTEND_PORT=18081

SPRING_DATASOURCE_USERNAME=work_app_agent_user
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_REDIS_PASSWORD=change-me

DASHSCOPE_API_KEY=change-me
DEEPSEEK_API_KEY=change-me
SEARCH_API_KEY=change-me
PEXELS_API_KEY=change-me

COS_HOST=
COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=
COS_BUCKET=

KNIFE4J_USERNAME=root
KNIFE4J_PASSWORD=change-me
